<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Karate Kyokushin Rzeszów - Wszystko o Karate, zdjęcia, rozkłady treningów, wymagania egzaminacyjne {% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Keywords for website -->
        <meta name="keywords" content="karate, kyoukushin, rzeszów, dojo, trening, IKO, karate kyokushin, hyżne">
        <!-- Website description -->
        <meta name ="description" content="Strona Internetowa poświęcona Rzeszowskiemu klubowi Karate Kyokushin. Znajdziesz tutaj aktualności, rozkład treningów, naszych intruktorów oraz bogata galerie zdjęć. Zapraszamy Rzeszowski Klub Karate Kyoukushin. OSU!">
        <!-- Always have to display in x1 scale -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="author" content="Karate Kyokushin Rzeszów">
        <meta name="copyright" content="Karate Kyokushin Rzeszów" />
        <meta name="robots" content="index, follow"/>
        {#Tags for facebook#}
        <meta property="og:url"                content="https://kyokushin-rzeszow.pl/" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Karate Kyokushin Rzeszów - strona Internetowa poświęcona sztuce Karate" />
        <meta property="og:description"        content="Historia karate, ciekawostki, galerie zdjęć, wymagania egzaminacyjne, regulamin, rozkłady zajęć - wszystko o Karate Kyokushin!" />
        <meta property="og:image"              content="https://kyokushin-rzeszow.pl/images/logo.png" />


        <!-- CSS Style sheets -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <!-- For main page -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!-- Greedy navigation plugin -->
        <link href="{{ asset('css/greedynav.css') }}" rel="stylesheet">
        <!-- Pushy CSS -->
        <link rel="stylesheet" href="{{ asset('css/pushy.css') }}">
        <!-- Font awesome -->
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.css') }}">
        <!-- Chocolat lightbox -->
        <link rel="stylesheet" href="{{ asset('css/chocolat.css') }}" type="text/css" media="screen" charset="utf-8">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('images/kanku16.png') }}" />
    </head>
    <body class="clearfix">
    {% block body %}


    <div class="baner"></div>
    <a href="#" class="scrollup"></a>

    {% block navigation_block %}
        <nav class="nawigacja greedy">
            <ul class="links">
                {#<li class ="active"><a href="{{ path('karate_posts_index') }}">Strona początkowa</a></li>#}
                <li><a href="{{ path('karate_posts_index') }}">Strona początkowa</a></li>
                <li><a href="{{ path('karate_instructors') }}">Instruktorzy</a></li>
                <li><a href="{{ path('karate_regulations') }}">Regulamin</a></li>
                <li class="drp-down">
                    <a href="#" class="dropbtn">Rozkład treningów</a>
                    <div class="drp-down-content">
                        <a href="{{ path('karate_training_schedule_rzeszow') }}">treningi Rzeszów</a>
                        <a href="{{ path('karate_training_schedule_hyzne') }}">treningi Hyżne</a>
                    </div>
                </li>
                <li><a href="#">Wymagania egzaminacyjne</a></li>
                <li class="drp-down">
                    <a href="#" class="dropbtn">Karate Kyokushin</a>
                    <div class="drp-down-content">
                        <a href="#">Historia</a>
                        <a href="#">Przysięga</a>
                        <a href="#">Kata</a>
                        <a href="#">Słownik</a>
                        <a href="#">Kalendarz imprez</a>
                        <a href="#" class="smaller">Ciekawostki z karate Kyokushin</a>
                        <a href="#">Dietetyka sportowa</a>
                    </div>
                </li>
                <li><a href="{{ path('karate_gallery_index') }}">Galeria</a></li>
                <li class="drp-down">
                    <a href="#" class="dropbtn">Kanał YouTube</a>
                    <div class="drp-down-content">
                        <a href="#" class="special">Linki</a>
                    </div>
                </li>
                <li><a href="{{ path('karate_contact') }}">Kontakt</a></li>
            </ul>
            <button>Rozwiń</button>
            <ul class='hidden-links hidden'></ul>
        </nav>
    {% endblock %}
    {% block responsiwe_navigation %}
        <!-- Responsive mobile navigation -->
        <nav class="pushy pushy-left">
            <ul>
                <li class="pushy-link"><a href="{{ path('karate_posts_index') }}">Strona poczatkowa</a></li>
                <li class="pushy-link"><a href="{{ path('karate_instructors') }}">Instruktorzy</a></li>
                <li class="pushy-link"><a href="{{ path('karate_regulations') }}">Regulamin</a></li>
                <li class="pushy-submenu">
                    <a href="#">Rozkład treningów</a>
                    <ul>
                        <li class="pushy-link"><a href="{{ path('karate_training_schedule_rzeszow') }}">Treningi Rzeszów</a></li>
                        <li class="pushy-link"><a href="{{ path('karate_training_schedule_hyzne') }}">Treningi Hyżne</a></li>
                    </ul>
                </li>
                <li class="pushy-link"><a href="#">Wymagania egzaminacyjne</a></li>
                <li class="pushy-submenu">
                    <a href="#">Karate Kyokushin</a>
                    <ul>
                        <li class="pushy-link"><a href="#">Historia</a></li>
                        <li class="pushy-link"><a href="#">Przysięga</a></li>
                        <li class="pushy-link"><a href="#">Kata</a></li>
                        <li class="pushy-link"><a href="#">Słownik</a></li>
                        <li class="pushy-link"><a href="#">Kalendarz Imprez</a></li>
                        <li class="pushy-link"><a href="#">Ciekawostki z karate Kyokushin</a></li>
                        <li class="pushy-link"><a href="#">Dietetyka sportowa</a></li>
                    </ul>
                </li>
                <li class="pushy-link"><a href="{{ path('karate_gallery_index') }}">Galeria</a></li>
                <li class="pushy-submenu">
                    <a href="#">Kanał Youtube</a>
                    <ul>
                        <li class="pushy-link"><a href="#">Linki</a></li>
                    </ul>
                </li>
                <li class="pushy-link"><a href="{{ path('karate_contact') }}">Kontakt</a></li>
            </ul>
        </nav>

        <!-- Site Overlay while mobile -->
        <div class="site-overlay"></div>

        <div class="menu-top">
            <div class="menu-btn"><i class="fa fa-reorder" aria-hidden="true"></i></div>
        </div>
    {% endblock %}

    {% block baner %}
        <header class="text">
            <div class="left_logo">
                <img src="{{ asset('images/logo.png') }}" alt="">
            </div>
            <div class="left">
                <div class="left-items">
                    <h2>RZESZOWSKI KLUB KARATE </h2>
                    <h2 class="czerwony"> KYOKUSHIN</h2>
                </div>
            </div>

            <div class="right">
                <img src="{{ asset('images/logo2.png') }}" alt="">
            </div>
            <div class="clear"></div><!-- clearing a baner float -->
            <div class="text2">&#8222;GDY NIE DAJESZ RADY, A WALCZYSZ DALEJ... WTEDY ZACZYNA SIĘ KYOKUSHIN&#8221;</div>
        </header>
    {% endblock %}

    {% block search_block %}

    {% endblock %}

    <!-- Content begin -->
    <main class="container bg_color">
        {% block full_width_container %}

            <div class="main-container">
                {% block ad_image %}

                {% endblock %}

                {% block content %}


                {% endblock %}
            </div>

            <aside class="left-container">
                {% block right_side %}


                {% endblock %}
            </aside>
            <!-- ./right-container -->


        {% endblock %}
        <!-- ./main-container -->
        <div class="clear"></div>
    </main>


    {% block footer %}
    <footer class="footer-wrap">

            <div class="container">
                <div class="triple sm">
                    <ul>
                        <h3 class="footer_heading"><i class="fa fa-globe" aria-hidden="true"></i> Klub</h3>
                        <li><a href="{{ path('karate_posts_index') }}">Strona początkowa</a></li>
                        <li><a href="{{ path('karate_training_schedule_rzeszow') }}">Rozkład treningów</a></li>
                        <li><a href="#">Kalendarz imprez</a></li>
                        <li><a href="{{ path('karate_instructors') }}">Instruktorzy</a></li>
                    </ul>

                </div>
                <div class="triple bg">
                    <ul>
                        <h3 class="footer_heading"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Karate</h3>
                        <li><a href="#">Oddziały</a></li>
                        <li><a href="#">Galeria</a></li>
                        <li><a href="#">Kata</a></li>
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Przysięga dojo</a></li>
                    </ul>
                </div>
                <div class="triple sm">
                    <ul>
                        <h3 class="footer_heading"><i class="fa fa-youtube-play" aria-hidden="true"></i> Social</h3>
                        <li><a href="#">Materiały</a></li>
                        <li><a href="{{ path('karate_gallery_index') }}">Galeria zdjęć</a></li>
                        <li><a href="#">Linki</a></li>
                        <li><a href="{{ path('karate_contact') }}">Kontakt</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
                <div class="autors">Karate Kyokushin Rzeszów 2017. Wszystkie prawa zastrzeżone.</div>
            </div>

    </footer>
    {% endblock %}
    <!-- FOOTER ENDS -->
    <div class="block"></div>
    <!-- JQuery scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- ScrollToTop -->
    <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
    <!-- Navigation sheet -->
    <script type="text/javascript" src="{{ asset('js/greedynav.js') }}"></script>
    <!-- Manu stays sticky at above 500+ scrooling -->
    <script src="{{ asset('js/sticky.js') }}"></script>

    {#<!-- ScrollUp JS -->#}
    <script src="{{ asset('js/scrollup.js') }}"></script>
    {#<!-- Pushy JS -->#}
    <script src="{{ asset('js/pushy.js') }}"></script>

    {#<!-- Galery Lightbox -->#}
    <script src="{{ asset('js/jquery.chocolat.js') }}"></script>

    {% block custom_javascript %}
    {% endblock %}

    {% endblock %}
    </body>
</html>
