{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}

<div class="main-container"></div>
{% if pageCount > 1 %}
    <ul class="stronnicowanie">

        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><li class="hvr-sweep-to-top"><span class="fa fa-chevron-circle-left"></span> &nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }} </li></a>
        {% else %}
            <li class="disabled">
                <span class="fa fa-chevron-circle-left"></span>&nbsp {{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}
            </li>
        {% endif %}

        {% if startPage > 1 %}

            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}"><li class="hvr-sweep-to-top">1</li></a>

            {% if startPage == 3 %}

                <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}"><li class="hvr-sweep-to-top">2</li></a>

            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}

                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"><li class="hvr-sweep-to-top">{{ page }}</li></a>

            {% else %}
                   <li class="current-page">{{ page }}</li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% else %}

                    <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}"><li class="hvr-sweep-to-top">{{ pageCount -1 }}</li></a>

                {% endif %}
            {% endif %}

                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}"><li class="hvr-sweep-to-top">{{ pageCount }}</li></a>

        {% endif %}

        {% if next is defined %}

            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"> <li class="hvr-sweep-to-top">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;<span class="fa fa-chevron-circle-right"></span></li></a>

        {% else %}
            <li class="disabled">
                {{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;<span class="fa fa-chevron-circle-right"></span>
            </li>
        {% endif %}
    </ul>
{% endif %}
</div>