{% extends 'base.html.twig' %}

{% block title %}
    {{ headerTitle }}
{% endblock %}

{% block full_width_container %}
    <div class="header-title border_animation">{{ headerTitle }} <span class="head-line"></span></div>

    {% for instructor in instructors %}
        <div class="col-xs-12 col-md-6 instructor">
            <img class="img-responsive square-image" src="{{ asset('images/instructors/'~ instructor.avatar) }}" alt="{{ instructor.imie }}&nbsp;{{ instructor.nazwisko }}">
        <div class="text-centered">
            {{ instructor.tytul }} <strong>{{ instructor.imie }}&nbsp;{{ instructor.nazwisko }}</strong> <br/>
            Stopień {{ instructor.stopien }}
        </div>
    </div>
    {% endfor %}

{% endblock %}